@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  outline: 1px solid red;
}
html {
  font-family: 'Nunito', Geneva, Verdana, sans-serif;
  /* scroll-behavior: smooth; */
  /* don't set font-size */
}
body {
  height: 100%;
  line-height: 1;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:focus,
a:active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
  border-radius: 5px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: white;
  background-color: red;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  background-color: white;
}
.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
}
/* ================================= */
.example {
  padding: 80px 0;
}
.example__container {
  /* 1440px + 20px(padding) / 16px */
  max-width: 91.25rem;
  position: relative;
}

/* 768px(media-query) / 16px(default font-size) */
@media (min-width: 48em) {
  .example__container::before {
    content: '';
    background: url(../img/wifi_black_48dp.svg) 0 0 / 100% no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    /* 48px(width) / 1440px * 100% * 3*/
    width: 9.99%;
    /* 48px(height) / 1440px * 100% * 3*/
    padding-top: 9.99%;
    top: 50%;
    transform: translate(50%, -50%);
  }
}
.example__header {
  margin-bottom: 25px;
  /* 740px(width, according to template) / 16px(default font-size) */
  max-width: 46.25rem;
}
.example__sub-title {
  color: red;
  font-weight: 700;
  text-transform: uppercase;
  /* 14px(font-size in temmplate) / 16px(default font-size)*/
  font-size: 0.875rem;
  /* 24px(line-height in temlate) / 14px(font-size) */
  line-height: 1.7;
  /* 15px(margin-bottom in template) / 14px(font-size here) */
  margin-bottom: 1.07em;
}
.example__title {
  color: green;
  font-weight: 900;
  text-transform: uppercase;
  /* 42px(font-size in template) / 16px(default font-size) */
  font-size: 2.625rem;
  /* 50px / 42px */
  line-height: 1.19;
  /* 16px(margin-bottom) / 42px(font-size) */
  margin-bottom: 0.38em;
  /* 5px(letter-space) / 42px(actual font-size) */
  letter-spacing: 0.12em;
}

@media (max-width: 48em) {
  .example__title {
    font-size: 2rem;
  }
}
.example__text {
  line-height: 1.5;
}
.example__items {
  /* flex */
  /*display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  margin: 0 -12px;*/

  /* grid */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  gap: 24px;
}
.example__item {
  /* flex */
  /* padding: 0 12px; */
  /* 100%(main width) / 3(amount of cards) */
  /* flex: 1 1 33.333%; */
  /* 290px(the size we need) / 16px(default font-size) */
  /* min-width: 18.125rem; */

  /* grid */
}
.item-example {
  display: flex;
  column-gap: 23px;
}
.item-example__icon {
  flex: 0 0 30px;
}
.item-example__title {
  color: palevioletred;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0.45em;
}
.item-example__text {
  line-height: 1.5;
}
