@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

:root {
  --font-family: Nunito;
  --font-size: 16px;
  --main-colour: #000;
  --min-width: 320px;
  --max-width: 1920px;
  --max-width-container: 1590px;
  --laptop: 95em;
  --tablet: 62em;
  --mobile: 48em;
  --mobile-small: 30em;
  --conteiner-width: 1610px;
}

/*font-size: calc(24px + (70 - 24) * (100vw - 320px) / (1520 - 320));*/
/*min-font-size + (max-font-size - min-font-size) * (full-viewport - min-media-query) / (media-query start changes from - min-media-query)*/

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  /* outline: 1px solid red; */
}
html {
  font-family: 'Nunito', Geneva, Verdana, sans-serif;
  /* scroll-behavior: smooth; */
  /* don't set font-size */
}
body {
  height: 100%;
  line-height: 1;
}
body.lock {
  overflow: hidden;
  /* touch-action: none; */
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:focus,
a:active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
  border-radius: 5px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: 0 auto;
  background-color: white;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 0.625em;
}
.button {
  display: inline-block;
  padding: 0;
  color: black;
  background-color: pink;
  border: 3px solid rgb(255, 73, 73);
  border-radius: 5px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5em 3.5em;
  line-height: 1.4;
  transition: all 0.3s ease 0s;
}
@media (max-width: 75em) {
  .button {
    padding-right: calc(8px + (56 - 8) * (100vw - 320px) / (1520 - 320));
    padding-left: calc(8px + (56 - 8) * (100vw - 320px) / (1520 - 320));
    font-size: calc(14px + (20 - 14) * (100vw - 320px) / (1520 - 320));
  }
}
@media (any-hover: hover) {
  .button:hover {
    color: aliceblue;
    background-color: purple;
  }
}
.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* ================================= */

.menu {
  display: none;
}
@media (max-width: 62em) {
  .menu {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
  }
}
.menu__body {
  transition: ease 0.3s all 0s;
}
@media (max-width: 62em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: rgb(73, 73, 73);
    padding: 4.5em 0.65em;
    z-index: 4;
  }
  .menu__body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 70px;
    left: -100%;
    top: 0;
    background-color: rgb(73, 73, 73);
    z-index: 5;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__body.active::before {
    left: 0;
  }
}

/* ================================= */

.icon-menu {
  display: none;
}
@media (max-width: 62em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
  }
  .icon-menu span {
    position: absolute;
    left: 0;
    top: 8px;
    width: 100%;
    height: 3px;
    background-color: whitesmoke;
    transition: all 0.4s ease;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: whitesmoke;
    transition: all 0.4s ease;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu.active::before {
    transform: rotate(45deg);
    top: 8px;
  }
  .icon-menu.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .icon-menu.active span {
    transform: scale(0);
  }
  .menu__list {
    position: fixed;
    left: -135%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(73, 73, 73);
    transition: all 0.6s ease;
    padding: 10px 30px;
    z-index: 10;
  }
  .menu__list.active {
    left: 0;
  }
  .menu__item {
    margin: 30px 0;
  }
  .menu__link {
    font-size: 1.3125rem;
    text-transform: uppercase;
  }
}
/* ========================================== */
/* header */

.header__top {
  background-color: rgb(73, 73, 73);
  color: aliceblue;
}
.top-header {
  padding: 0.625em 0;
}
.top-header__container {
  display: flex;
  align-items: center;
  gap: 1.25em;
  min-height: 3.125em;
}
@media (max-width: 48em) {
  .top-header__container {
    gap: 2em;
  }
}
.top-header__menu {
  flex: 1 1 auto;
}
.menu-top-header {
  display: block;
}
@media (max-width: 62em) {
  .menu-top-header {
    display: none;
  }
}
.menu-top-header__list {
  display: flex;
  column-gap: 3.75em;
  row-gap: 5px;
}
@media (max-width: 62em) {
  .menu-top-header__list {
    flex-direction: column;
    column-gap: calc(20px + (60 - 20) * (100vw - 320px) / (1520 - 320));
    row-gap: 2em;
  }
}
.menu-top-header__link {
  font-size: 1rem;
  line-height: 1.25;
}
@media (max-width: 62em) {
  .menu-top-header__link {
    font-size: 1.5rem;
  }
}
.menu-top-header__link_catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 62em) {
  .menu-top-header__link_catalog {
    display: none;
  }
}
@media (any-hover: hover) {
  .menu-top-header__link:hover {
    text-decoration: underline;
  }
}
.top-header__user {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  line-height: 1.2;
  position: relative;
  z-index: 5;
}
@media (max-width: 62em) {
  .top-header__user {
    font-size: 0;
  }
}
@media (any-hover: hover) {
  .top-header__user:hover {
    text-decoration: underline;
  }
}

/* ============================ */

.body-header {
  padding: 0.625em 0;
  border-bottom: 1px solid blueviolet;
}
.body-header__container {
  display: flex;
  align-items: center;
  min-height: 4.375em;
  gap: 1em;
}
@media (max-width: 62em) {
  .body-header__container {
    justify-content: space-between;
  }
}
@media (max-width: 30em) {
  .body-header__container {
    min-height: 3em;
  }
}
.body-header__search {
  padding-right: 1em;
  padding-left: 9.375em;
  flex: 1 1 auto;
}
@media (max-width: 95em) {
  .body-header__search {
    padding-left: calc(20px + (150 - 20) * (100vw - 992px) / (1520 - 992));
  }
}
@media (max-width: 62em) {
  .body-header__search {
    padding-right: 1.25em;
  }
}
@media (max-width: 30em) {
  .body-header__search {
    padding-left: 1.25em;
  }
}
.search-header {
  background-color: rgba(7, 7, 7, 0.03);
  border-radius: 3px;
  position: relative;
  border: 1px solid palevioletred;
}
@media (min-width: 62em) {
  .search-header {
    max-width: 21.875em;
  }
}
@media (max-width: 30em) {
  .search-header {
    background-color: #fff;
  }
}
.search-header__button {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 8px;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.search-header__input {
  background-color: transparent;
  border-radius: 3px;
  height: 2.5625em;
  color: var(--main-colour);
  padding: 0 0.625em 0 2.5em;
  width: 100%;
}
.search-header__input::placeholder {
  color: grey;
}

/* ============================ */

.actions-header {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
}
@media (max-width: 75em) {
  .actions-header {
    column-gap: calc(16px + (24 - 16) * (100vw - 320px) / (1520 - 320));
  }
}
@media (max-width: 62em) {
  .actions-header {
    display: none;
  }
}
.actions-header__location {
  display: inline-flex;
  align-items: center;
  margin-right: 1.5em;
}
@media (max-width: 95em) {
  .actions-header__location {
    margin-right: calc(4px + (24 - 4) * (100vw - 320px) / (1520 - 320));
  }
}
@media (max-width: 62em) {
  .actions-header__location {
    display: none;
  }
}
@media (any-hover: hover) {
  .actions-header__location:hover {
    text-decoration: underline;
  }
}
.phones-header {
  position: relative;
  z-index: 5;
}
.phones-header__item {
  display: flex;
}
.phones-header__phone {
  font-size: 1.125em;
  white-space: nowrap;
}
@media (max-width: 62em) {
  .phones-header__phone {
    font-size: 1.25em;
    font-weight: 700;
  }
}
@media (max-width: 48em) {
  .phones-header__phone {
    font-size: 0;
  }
}
@media (any-hover: hover) {
  .phones-header__phone:hover {
    text-decoration: underline;
  }
}
.cart-header {
  display: flex;
  align-items: center;
  column-gap: 0.9375em;
  position: relative;
  z-index: 5;
}
.cart-header__icon {
  flex: 0 0 2em;
}
.cart-header__num {
  background-color: orangered;
  color: wheat;
  font-size: 0.75rem;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-header__body {
  font-size: 1rem;
  line-height: 1.125;
  flex: 0 0 auto;
}
@media (max-width: 75em) {
  .cart-header__body {
    display: none;
  }
}
.cart-header__sum {
  font-weight: 500;
}
.cart-header__sum:not(:last-child) {
  margin-bottom: 0.25em;
}
.cart-header__link {
  color: orangered;
}
@media (any-hover: hover) {
  .cart-header__link:hover {
    text-decoration: underline;
  }
}

/* ============================ */

.catalog-header {
  background-color: rgb(73, 73, 73);
  color: aliceblue;
  position: relative;
}
@media (max-width: 30em) {
  .catalog-header {
    padding: 1.25em 0;
  }
}
.menu-catalog {
  transition: ease 0.3s all 0s;
}
@media (max-width: 62em) {
  .menu-catalog {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(73, 73, 73);
    padding: 4.5em 0.625em;
  }
  .menu-catalog.catalog-open {
    left: 0;
    z-index: 6;
  }
}
.menu-catalog__back {
  display: none;
}
@media (max-width: 62em) {
  .menu-catalog__back {
    display: inline-flex;
    align-items: center;
    background-color: rgb(73, 73, 73);
    color: aliceblue;
    border: 1px solid aliceblue;
    padding: 0.375em 1em;
    font-size: 1.5rem;
  }
  .menu-catalog__back:not(:last-child) {
    margin-bottom: 2.125em;
  }
}
.menu-catalog__list {
  display: flex;
  justify-content: space-between;
  column-gap: 0.625em;
}
@media (max-width: 62em) {
  .menu-catalog__list {
    flex-direction: column;
    row-gap: 1.5625em;
  }
}
.menu-catalog__link {
  display: flex;
  position: relative;
  background-color: transparent;
  color: aliceblue;
  transition: colour 0.3s ease 0s;
  font-size: 1.125rem;
}
@media (min-width: 62em) {
  .menu-catalog__link {
    padding: 0 0.625em;
    min-height: 4.375em;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 62em) {
  .menu-catalog__link {
    font-size: 1.5rem;
  }
}
.menu-catalog__link.sub-menu-active {
  color: orangered;
}
@media (any-hover: hover) {
  .menu-catalog__link:hover {
    color: orangered;
  }
}
.menu-catalog__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0.625em;
  opacity: 0;
  visibility: hidden;
  width: calc(100% - 1.25em);
  height: 1px;
  background-color: orangered;
}
.menu-catalog__link.sub-menu-active::after {
  opacity: 1;
  visibility: visible;
}
@media (any-hover: hover) {
  .menu-catalog__link:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
.menu-catalog__sub-menu {
  width: 100%;
  left: 0;
  top: 0%;
  background-color: rgb(73, 73, 73);
}
/* @media (max-width: 62em) {
  .menu-catalog__sub-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(73, 73, 73);
    padding: 4.5em 0.625em;
    transition: ease 0.3s all 0s;
  }
  
} */
@media (max-width: 62em) {
  .sub-menu-catalog {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(73, 73, 73);
    padding: 3em 0.625em;
  }
  .sub-menu-catalog.sub-menu-open {
    display: block;
    left: 0;
    z-index: 6;
  }
}
.sub-menu-catalog__back {
  display: none;
}
@media (max-width: 62em) {
  .sub-menu-catalog__back {
    display: block;
    padding: 0.5em 1em;
  }
}
.sub-menu-catalog__block {
  display: none;
}
.sub-menu-catalog__block.sub-menu-open {
  display: -ms-grid;
  display: grid;
}
@media (max-width: 62em) {
  /*.sub-menu-catalog__block {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(73, 73, 73);
    padding: 3em 0.625em;
  }*/
  .sub-menu-catalog__block.sub-menu-open {
    display: block;
    left: 0;
    z-index: 6;
  }
}
.sub-menu-catalog__block.sub-menu-catalog__block_2 {
  grid-template-columns: repeat(2, minmax(auto, 20em));
}
.sub-menu-catalog__block.sub-menu-catalog__block_3 {
  grid-template-columns: repeat(3, minmax(auto, 20em));
}
.sub-menu-catalog__block.sub-menu-catalog__block_4 {
  grid-template-columns: repeat(4, minmax(auto, 20em));
}
.sub-menu-catalog__block.sub-menu-catalog__block_5 {
  grid-template-columns: repeat(5, minmax(auto, 20em));
}
.sub-menu-catalog__category {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 700;
  text-transform: capitalize;
  padding: 1.875em 1em;
}
@media (any-hover: hover) {
  .sub-menu-catalog__category:hover {
    text-decoration: underline;
  }
}
.sub-menu-catalog__list {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  padding: 1.875em 1em;
  border-top: 1px solid rgb(110, 110, 110);
  border-bottom: 1px solid rgb(110, 110, 110);
}
@media (max-width: 62em) {
  .sub-menu-catalog__list {
    display: none;
  }
}
.sub-menu-catalog__link {
  font-size: 1rem;
  line-height: 1.25;
  text-transform: capitalize;
}
@media (any-hover: hover) {
  .sub-menu-catalog__link:hover {
    text-decoration: underline;
  }
}
.sub-menu-catalog__footer {
  padding: 1.875em 0.9375em;
}
@media (max-width: 62em) {
  .sub-menu-catalog__footer {
    display: none;
  }
}
.sub-menu-catalog__all {
  font-size: 1rem;
  text-transform: uppercase;
  color: orangered;
}
@media (any-hover: hover) {
  .sub-menu-catalog__all:hover {
    text-decoration: underline;
  }
}

/* ============================ */
.icon_user {
  color: red;
  font-size: 1.75rem;
  margin-right: 0.875em;
}
@media (max-width: 62em) {
  .icon_user {
    margin-right: 0;
    font-size: 2.1875rem;
  }
}
.icon_logo {
  font-size: 4rem;
  color: greenyellow;
  animation-duration: 4s;
  animation-name: pulselogo;
  animation-iteration-count: infinite;
}
@media (max-width: 62em) {
  .icon_logo {
    font-size: calc(48px + (64 - 48) * (100vw - 320px) / (1520 - 320));
  }
}
.icon_search {
  color: grey;
  font-size: 1rem;
}
.icon_location {
  margin-right: 0.625em;
}
.icon_cart {
  font-size: 2.1875rem;
  position: relative;
  color: rgb(110, 110, 110);
  position: relative;
  margin-left: 1em;
}
.icon_menu-link {
  flex: 0 0 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  transform: rotate(-90deg);
}
.icon_phone {
  display: none;
}
@media (max-width: 48em) {
  .icon_phone {
    display: block;
    font-size: 2.1875rem;
    color: red;
  }
}
.icon_back {
  margin-right: 1em;
}
.icon_premium {
  font-size: 3.5rem;
  color: antiquewhite;
}
.icon_forward,
.icon_balance,
.icon_favourite {
  font-size: 1.5rem;
  color: grey;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .icon_forward:hover,
  .icon_balance:hover,
  .icon_favourite:hover {
    color: orangered;
  }
}
.icon_cart {
  font-size: 1rem;
  color: orangered;
}
.icon_new {
  font-size: 1.5rem;
  color: rgb(38, 0, 255);
  padding-left: 0.5em;
}

/* ===================================================== */

[class*='-ibg'] {
  position: relative;
}
[class*='-ibg'] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
[class*='-ibg_contain'] img {
  object-fit: contain;
}

/* ======================================================== */

/* ================================== */
@keyframes pulselogo {
  from {
    transform: scale(50%);
  }
  50% {
    transform: scale(100%);
  }
  to {
    transform: scale(50%);
  }
}

/* ================================== */
/* main */

.main-block {
  background-color: rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 40px 0 60px 0;
}
/*font-size: calc(24px + (70 - 24) * (100vw - 320px) / (1520 - 320));*/
@media (max-width: 95em) {
  .main-block {
    padding-top: calc(20px + (40 - 20) * (100vw - 320px) / (1520 - 320));
    padding-bottom: calc(20px + (60 - 20) * (100vw - 320px) / (1520 - 320));
  }
}
.main-block__container {
  max-width: 100em;
}
.main-block__body {
  display: -ms-grid;
  display: grid;
  align-items: start;
  row-gap: 2.5em;
}
@media (min-width: 62em) {
  .main-block__body {
    grid-template-columns: 1fr 30%;
  }
}
.main-block__body:not(:last-child) {
  margin-bottom: 4em;
}
@media (max-width: 95em) {
  .main-block__body:not(:last-child) {
    margin-bottom: calc(30px + (64 - 30) * (100vw - 320px) / (1520 - 320));
  }
}
.main-block__slider {
  overflow: hidden;
  margin: 0 -2em;
  padding: 0 2em;
}
.main-block__swiper:not(:last-child) {
  margin-bottom: 2em;
}
.slide-main-block__content {
  color: aliceblue;
}
.slide-main-block__content:not(:last-child) {
  margin-bottom: 3em;
}
@media (max-width: 95em) {
  .slide-main-block__content:not(:last-child) {
    margin-bottom: calc(30px + (48 - 30) * (100vw - 320px) / (1520 - 320));
  }
}
@media (max-width: 62em) {
  .slide-main-block__content {
    padding-right: 2em;
  }
}
.slide-main-block__title {
  font-size: 2.25rem;
  line-height: 1.4;
  letter-spacing: 0.2em;
  font-weight: 700;
}
.slide-main-block__title:not(:last-child) {
  margin-bottom: 0.75em;
}
.slide-main-block__sub-title {
  font-weight: 500;
  font-size: 2.125rem;
  line-height: 1.4;
}
.slide-main-block__sub-title:not(:last-child) {
  margin-bottom: 1.5em;
}
.slide-main-block__text {
  font-size: 1.25rem;
  line-height: 1.4;
}
@media (max-width: 62em) {
  .slide-main-block__title {
    font-size: calc(24px + (36 - 24) * (100vw - 320px) / (1520 - 320));
  }
  .slide-main-block__sub-title {
    font-size: calc(21px + (34 - 21) * (100vw - 320px) / (1520 - 320));
  }
  .slide-main-block__text {
    font-size: calc(18px + (20 - 18) * (100vw - 320px) / (1520 - 320));
  }
}
@media (max-width: 30em) {
  .slide-main-block__button {
    width: 100%;
  }
}
.media-main-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75em;
}
.media-main-block__body {
  position: relative;
}
.media-main-block__image {
}
.media-main-block__image img {
  z-index: 2;
  max-width: 100%;
}
.media-main-block__image::before {
  content: '';
  /* 250px is the width of the circle */
  /* divided by */
  /* 474px is the size of the block */
  /* shaman's dancing */
  padding-bottom: 99%;
  width: 100%;
  border: 2px solid yellow;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(30%, 0px);
}
.media-main-block__tips {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.media-main-block__tip {
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .media-main-block__tip:hover {
    transform: rotate(45deg);
  }
}
.media-main-block__tip::before,
.media-main-block__tip::after {
  content: '';
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.media-main-block__tip::after {
  transform: scale(1.5);
  opacity: 0.5;
}
.media-main-block__tip span {
  z-index: 2;
  color: green;
  font-weight: 700;
  font-size: 1.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-main-block__tip_1 {
  /* top: position from the top of the image in pixels / height og the image = per cent */
  top: 40%;
  left: 8%;
}
.media-main-block__tip_2 {
  top: 25%;
  right: 11%;
}
.media-main-block__tip_3 {
  bottom: 0%;
  right: 0%;
}

/* ======================================================= */

.advantages-main {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1.25em;
  justify-content: space-between;
}
@media (max-width: 62em) {
  .advantages-main {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 1.75em;
  }
}
@media (max-width: 30em) {
  .advantages-main {
    grid-template-columns: repeat(1, 1fr);
  }
}
.advantages-main__item {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-template-rows: 5rem auto;
  gap: 1em;
  text-align: center;
  max-width: 18.75em;
}
.advantages-main__icon {
  align-self: center;
}
.advantages-main__text {
  color: #fff;
  font-weight: 600;
  line-height: 2;
  font-size: 1.25rem;
}

/* ================================== */

.controll-main-block {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1.25em;
}
.controll-main-block__dotts {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
  gap: 1em;
  transform: translate(0, 25%);
}
.controll-main-block__dotts .swiper-pagination-bullet {
  cursor: pointer;
  height: 2.5em;
  width: 1.25em;
  background-color: transparent;
  position: relative;
  transition: all 0.3s ease 0s;
}
.controll-main-block__dotts .swiper-pagination-bullet::before {
  content: '';
  background-color: orangered;
  position: absolute;
  width: 0.625em;
  height: 0.625em;
  top: 50%;
  left: 0;
  border-radius: 50%;
  transform: translate(0, -50%);
  transition: left 0.3s ease 0s;
  opacity: 0;
}
.controll-main-block__dotts .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  background-color: #fff;
  height: 2px;
}
.controll-main-block__dotts .swiper-pagination-bullet-active {
  width: 4em;
}
.controll-main-block__dotts .swiper-pagination-bullet-active::before {
  opacity: 1;
  left: 4em;
  transition: left 4s linear 0s;
}
.controll-main-block__dotts .swiper-pagination-bullet-active::after {
  background-color: orangered;
}

/* ========================================== */

.fraction-controll {
  display: flex;
  align-items: flex-end;
  color: #fff;
  letter-spacing: 0.075em;
}
.fraction-controll__current {
  color: orangered;
  font-weight: 600;
  font-size: 1.5rem;
}
.fraction-controll__all {
  font-size: 1rem;
}

/* ====================================================================== */

.catalog-cards {
  padding-top: 5em;
  padding-bottom: 3.5em;
}
@media (max-width: 95em) {
  .catalog-cards {
    padding-top: calc(40px + (80 - 40) * (100vw - 320px) / (1520 - 320));
    padding-bottom: calc(40px + (56 - 40) * (100vw - 320px) / (1520 - 320));
  }
}
.catalog-cards__container {
  display: -ms-grid;
  display: grid;
  gap: 1.875em;
}
@media (min-width: 30em) {
  .catalog-cards__container {
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  }
}
.item-catalog-cards {
  box-shadow: 0px 0.25em 1.25em rgba(0, 0, 0, 0.2);
  position: relative;
  min-height: 18.125em;
  overflow: hidden;
  transition: box-shadow 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-catalog-cards:hover {
    box-shadow: 0 0.25em 1.25em rgba(0, 0, 0, 0.5);
  }
}
.item-catalog-cards__body {
  position: relative;
  z-index: 2;
  padding: 1.75em;
}
@media (max-width: 95em) {
  .item-catalog-cards__body {
    padding: calc(16px + (28 - 16) * (100vw - 320px) / (1520 - 320));
  }
}
.item-catalog-cards__title:not(:last-child) {
  margin-bottom: 1.5em;
}
.item-catalog-cards__link-title {
  font-weight: 600;
  font-size: 1.5rem;
  display: inline-block;
}
.item-catalog-cards__link-title::after {
  content: '';
  display: block;
  width: 3em;
  height: 0.125em;
  margin-top: 0.75em;
  background-color: orangered;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-catalog-cards__link-title:hover::after {
    width: 100%;
  }
}
.item-catalog-cards__item {
  position: relative;
  padding-left: 1.5em;
}
.item-catalog-cards__item:not(:last-child) {
  margin-bottom: 0.625em;
}
.item-catalog-cards__item::before {
  content: '';
  width: 0.375em;
  height: 0.375em;
  background-color: orangered;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0.65em;
}
.item-catalog-cards__link {
  font-size: 1.125rem;
  line-height: 1.3;
}
@media (any-hover: hover) {
  .item-catalog-cards__link:hover {
    text-decoration: underline;
  }
}
.item-catalog-cards__image {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transform: translate(0px, 10%);
}
@media (min-width: 30em) {
  .item-catalog-cards__image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}
.item-catalog-cards__image img {
  max-width: 100%;
}

/* ============================================================= */

.products-slider__header:not(:last-child) {
  margin-bottom: 3.125em;
}
@media (max-width: 95em) {
  .products-slider__header:not(:last-child) {
    margin-bottom: calc(30px + (50 - 30) * (100vw - 320px) / (1520 - 320));
  }
}
@media (min-width: 48em) {
  .products-slider__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25em;
  }
}
.products-slider__title {
  font-size: 1.875em;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.products-slider__more {
  display: inline-flex;
  align-items: center;
  gap: 0.9375em;
  font-weight: 600;
  color: black;
  font-size: 1.125rem;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .products-slider__more:hover {
    color: orangered;
  }
}
.products-slider__slider {
  padding: 0.9375em;
  margin: 0 -0.9375em;
}
.products-slider__swiper:not(:last-child) {
  margin-bottom: 3em;
}
@media (max-width: 95em) {
  .products-slider__swiper:not(:last-child) {
    margin-bottom: calc(30px + (48 - 30) * (100vw - 320px) / (1520 - 320));
  }
}
.products-slider__dotts {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1em;
  transform: translate(0, 25%);
}
.products-slider__dotts .swiper-pagination-bullet {
  cursor: pointer;
  height: 2.5em;
  width: 1.25em;
  background-color: transparent;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 0.8;
}
.products-slider__dotts .swiper-pagination-bullet::before {
  content: '';
  background-color: green;
  position: absolute;
  width: 0.625em;
  height: 0.625em;
  top: 50%;
  left: 0;
  border-radius: 50%;
  transform: translate(0, -50%);
  transition: left 0.3s ease 0s;
  opacity: 0;
}
.products-slider__dotts .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  background-color: green;
  height: 2px;
}
.products-slider__dotts .swiper-pagination-bullet-active {
  width: 4em;
  opacity: 1;
}
.products-slider__dotts .swiper-pagination-bullet-active::before {
  opacity: 1;
  left: 4em;
  transition: left 4s linear 0s;
}
.products-slider__dotts .swiper-pagination-bullet-active::after {
  background-color: green;
}
.product-card {
  display: -ms-grid;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  box-shadow: 0em 0.25em 1.25em rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease 0s;
  background-color: #fff;
}
@media (any-hover: hover) {
  .product-card {
    box-shadow: 0em 0.375em 1.25em rgba(0, 0, 0, 0.35);
  }
}
.product-card__image {
  padding: 1.5em;
}
.product-card__item-image-ibg {
  display: block;
  padding-bottom: 100%;
  /* max-width: 100%; */
}
.product-card__body {
  padding: 1.25em;
  display: flex;
  flex-direction: column;
}
.product-card__title {
  flex: 1 1 auto;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4;
}
@media (any-hover: hover) {
  .product-card__title:hover {
    text-decoration: underline;
  }
}
.product-card__title:not(:last-child) {
  margin-bottom: 0.625em;
}
.product-card__info:not(:last-child) {
  margin-bottom: 0.75em;
}
.info-product-card {
  color: #ababab;
  display: flex;
  justify-content: space-between;
  gap: 0.625em;
}
.info-product-card__materials {
  text-align: right;
}
.product-card__footer {
  border-top: 1px solid orangered;
  padding: 1.25em 0;
  display: flex;
  align-items: center;
  gap: 0.9375em;
}
.product-card__price {
  flex: 1 1 auto;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4;
}
.product-card__compare,
.product-card__favourite {
  font-size: 1.5rem;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hober) {
  .product-card__compare:hover,
  .product-card__favourite:hover {
    color: orangered;
  }
}
.product-card__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* =============================================== */

.hit__products-slider {
  padding: 3.125em 0 7.5em 0;
}
@media (min-width: 48em) {
  .hit-products__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25em;
  }
}
.hit-products__header:not(:last-child) {
  margin-bottom: 3em;
}
@media (max-width: 95em) {
  .hit-products__header:not(:last-child) {
    margin-bottom: calc(27px + (48 - 27) * (100vw - 320px) / (1520 - 320));
  }
}
.hit-products__title {
  font-size: 1.875em;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.hit-products__more {
  display: inline-flex;
  align-items: center;
  gap: 0.9375em;
  font-weight: 600;
  color: black;
  font-size: 1.125rem;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .hit-products__more:hover {
    color: orangered;
  }
}
.hit-products__slider {
  padding: 0.9375em;
  margin: 0 -0.9375em;
}
.hit-products__swiper:not(:last-child) {
  margin-bottom: 3em;
}
.hit-products__dotts {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1em;
  transform: translate(0, 25%);
  overflow: hidden;
}
.hit-products__dotts .swiper-pagination-bullet {
  cursor: pointer;
  height: 2.5em;
  width: 1.25em;
  background-color: transparent;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 0.8;
}
.hit-products__dotts .swiper-pagination-bullet::before {
  content: '';
  background-color: green;
  position: absolute;
  width: 0.625em;
  height: 0.625em;
  top: 50%;
  left: 0;
  border-radius: 50%;
  transform: translate(0, -50%);
  transition: left 0.3s ease 0s;
  opacity: 0;
}
.hit-products__dotts .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  background-color: green;
  height: 2px;
}
.hit-products__dotts .swiper-pagination-bullet-active {
  width: 4em;
  opacity: 1;
}
.hit-products__dotts .swiper-pagination-bullet-active::before {
  opacity: 1;
  left: 4em;
  transition: left 5s linear 0s;
}
.hit-products__dotts .swiper-pagination-bullet-active::after {
  background-color: green;
}

/* =============================================================== */

.products-new {
  padding-top: 5em;
  position: relative;
  background: url(https://www.taste-fulltours.com/wp-content/uploads/2016/05/landscape-design-software-desert-landscape-ideas.jpg)
    bottom / cover no-repeat;
}
.products-new::before {
  content: '';
  background-color: #fff;
  height: 5em;
  position: absolute;
  top: -0.125em;
  right: 0;
  width: 70%;
}
.products-new__inner {
  padding: 3.4375em 0;
}
@media (max-width: 95em) {
  .products-new__inner {
    padding-top: calc(15px + (55 - 15) * (100vw - 320px) / (1520 - 320));
    padding-bottom: calc(15px + (55 - 15) * (100vw - 320px) / (1520 - 320));
  }
}
.products-new__container {
  display: -ms-grid;
  display: grid;
  row-gap: 2em;
}
@media (min-width: 62em) {
  .products-new__container {
    grid-template-columns: 30em 1fr;
    align-items: start;
  }
}
.products-new__body {
  padding-right: 4.375em;
}
@media (max-width: 95em) {
  .products-new__body {
    padding-right: calc(20px + (70 - 20) * (100vw - 320px) / (1520 - 320));
  }
}
.products-new__section {
  position: relative;
  z-index: 2;
}
.products-new__title {
  font-weight: bold;
  line-height: 1.4;
  font-size: 1.875rem;
  color: #fff;
}
.products-new__title:not(:last-child) {
  margin-bottom: 1.875em;
}
@media (max-width: 48em) {
  .products-new__title:not(:last-child) {
    margin-bottom: calc(16px + (30 - 16) * (100vw - 320px) / (1520 - 320));
  }
}
.products-new__text {
  font-size: 1.125rem;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.75);
}
.products-new__text:not(:last-child) {
  margin-bottom: 3.75em;
}
@media (max-width: 95em) {
  .products-new__text:not(:last-child) {
    padding-right: calc(20px + (60 - 20) * (100vw - 320px) / (1520 - 320));
    margin-bottom: calc(20px + (60 - 20) * (100vw - 320px) / (1520 - 320));
  }
}
.products-new__link {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(37, 17, 126);
}
.products-new__content {
  min-width: 0;
}
@media (min-width: 62em) {
  .products-new__content {
    padding-top: 2em;
  }
}
.products-new__slider {
  overflow: hidden;
}

/* ============================================================== */

.articles-module {
  padding: 3.125em 0;
}
@media (max-width: 95em) {
  .articles-module {
    padding-top: calc(20px + (50 - 20) * (100vw - 320px) / (1520 - 320));
    padding-bottom: calc(20px + (50 - 20) * (100vw - 320px) / (1520 - 320));
  }
}
.articles-module__title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.5;
}
.articles-module__title:not(:last-child) {
  margin-bottom: 1.875em;
}
.articles-module__items {
  display: -ms-grid;
  display: grid;
  gap: 1.875em;
  grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
}
.item-article {
  background-color: #fff;
  box-shadow: 0em 0.25em 1.25em rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item-article__image-ibg {
  padding-bottom: 100%;
}
.item-article__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}
@media (max-width: 95em) {
  .item-article__body {
    padding: calc(15px + (24 - 15) * (100vw - 320px) / (1520 - 320));
  }
}
.item-article__title {
  flex: 1 1 auto;
}
.item-article__title:not(:last-child) {
  margin-bottom: 1em;
}
.item-article__link-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4;
}
@media (any-hover: hover) {
  .item-article__link-title:hover {
    text-decoration: underline;
  }
}
.item-article__date {
  color: #ababab;
  font-size: 1rem;
  line-height: 1.5;
}

/* ================================================ */

.products-block {
  margin-bottom: 4em;
}
@media (max-width: 95em) {
  .product-block {
    margin-bottom: calc(21px + (64 - 21) * (100vw - 320px) / (1520 - 320));
  }
}
.products-block__container {
  display: -ms-grid;
  display: grid;
  gap: 1.875em;
}
@media (min-width: 30em) {
  .products-block__container {
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  }
}
.product-block {
  overflow: hidden;
  box-shadow: 0em 0.25em 1.25em rgba(0, 0, 0, 0.15);
  position: relative;
  min-height: 18.75em;
  transition: box-shadow 0.3s ease 0s;
}
@media (any-hover: hover) {
  .product-block:hover {
    box-shadow: 0em 0.25em 1.5em rgba(0, 0, 0, 0.25);
  }
}
.product-block__body {
  position: relative;
  z-index: 2;
  padding: 1.875em;
}
@media (max-width: 95em) {
  .product-block__body {
    padding: calc(15px + (30 - 15) * (100vw - 320px) / (1520 - 320));
  }
}
.product-block__title:not(:last-child) {
  margin-bottom: 1.875em;
}
@media (max-width: 95em) {
  .product-block__title:not(:last-child) {
    margin-bottom: calc(15px + (30 - 15) * (100vw - 320px) / (1520 - 320));
  }
}
.product-block__link-title {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.4;
  display: inline-block;
}
.product-block__link-title::after {
  content: '';
  width: 3em;
  height: 2px;
  margin-bottom: 1em;
  display: block;
  background-color: orangered;
  transition: width 0.8s ease 0s;
}
@media (any-hover: hover) {
  .product-block__link-title:hover::after {
    width: 100%;
  }
}
.product-block__text {
  font-size: 1.125em;
  line-height: 1.7;
}
.product-block__text:not(:last-child) {
  margin-bottom: 3em;
}
@media (min-width: 48em) {
  .product-block__text {
    max-width: 16.25em;
  }
}
@media (max-width: 48em) {
  .product-block__button {
    width: 100%;
  }
}
.product-block__image {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transform: translate(0em, 8%);
}
.product-block__image img {
  max-width: 100%;
}
@media (min-width: 48em) {
  .product-block__image {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
  }
}

/* ======================================================== */

.footer {
}
.footer__text {
}
.text-footer {
  background: url(https://i.stack.imgur.com/cy6jD.jpg) top / cover no-repeat;
  padding: 3.75em 0 2.5em 0;
}
@media (max-width: 95em) {
  .text-footer {
    padding-top: calc(20px + (60 - 20) * (100vw - 320px) / (1520 - 320));
    padding-bottom: calc(20px + (40 - 20) * (100vw - 320px) / (1520 - 320));
  }
}
.text-footer__container {
}
.text-footer__title {
  text-align: center;
  font-weight: bold;
  font-size: 1.875em;
  line-height: 1.3;
  color: orangered;
}
@media (max-width: 95em) {
  .text-footer__title {
    font-size: calc(24px + (30 - 24) * (100vw - 320px) / (1520 - 320));
  }
}
.text-footer__title:not(:last-child) {
  margin-bottom: 1.875em;
}
.text-footer__text {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.3;
}
@media (max-width: 95em) {
  .text-footer__text {
    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1520 - 320));
  }
}
.body-footer {
  background-color: rgb(13, 90, 64);
}
