@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  outline: 1px solid red;
}
html {
  font-family: 'Nunito', Geneva, Verdana, sans-serif;
  /* scroll-behavior: smooth; */
  /* don't set font-size */
}
body {
  height: 100%;
  line-height: 1;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:focus,
a:active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
  border-radius: 5px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: white;
  background-color: red;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  background-color: white;
}
.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
}
/* ================================= */
.example {
  padding: 80px 0;
}
.example__container {
  /* 1440px + 20px(padding) / 16px */
  max-width: 91.25rem;
  position: relative;
}
.example__container::before {
  content: '';
  background: url(../img/wifi_black_48dp.svg) 0 0 / 100% no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  /* 48px(width) / 1440px * 100% * 3*/
  width: 9.99%;
  /* 48px(height) / 1440px * 100% * 3*/
  padding-top: 9.99%;
  top: 50%;
  transform: translate(50%, -50%);
}
.example__header {
}
.example__sub-title {
}
.example__title {
}
.example__text {
}
.example__items {
}
.example__item {
}
.item-example {
}
.item-example__icon {
}
.item-example__body {
}
.item-example__title {
}
.item-example__text {
}
