@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

:root {
  --font-family: Nunito;
  --font-size: 16px;
  --main-colour: #000;
  --min-width: 320px;
  --max-width: 1920px;
  --max-width-container: 1590px;
  --laptop: 95em;
  --tablet: 70.857em;
  --mobile: 54.857em;
  --mobile-small: 34.285em;
  --conteiner-width: 1610px;
}

/*font-size: calc(24px + (70 - 24) * (100vw - 320px) / (1520 - 320));*/
/*min-font-size + (max-font-size - min-font-size) * (full-viewport - min-media-query) / (media-query start changes from - min-media-query)*/

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  /* outline: 1px solid red; */
}
html {
  font-family: 'Nunito', Geneva, Verdana, sans-serif;
  /* scroll-behavior: smooth; */
  /* don't set font-size */
}
body {
  height: 100%;
  line-height: 1;
}
body.lock {
  overflow: hidden;
  /* touch-action: none; */
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:focus,
a:active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
  border-radius: 5px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: 0 auto;
  background-color: white;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
}
.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* ================================= */

.icon-menu {
  display: none;
}
@media (max-width: 54.857em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
  }
  .icon-menu span {
    position: absolute;
    left: 0;
    top: 8px;
    width: 100%;
    height: 3px;
    background-color: whitesmoke;
    transition: all 0.4s ease;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: whitesmoke;
    transition: all 0.4s ease;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu.active::before {
    transform: rotate(45deg);
    top: 8px;
  }
  .icon-menu.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .icon-menu.active span {
    transform: scale(0);
  }
  .menu__list {
    position: fixed;
    left: -135%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: pink;
    transition: all 0.6s ease;
    padding: 10px 30px;
    z-index: 10;
  }
  .menu__list.active {
    left: 0;
  }
  .menu__item {
    margin: 30px 0;
  }
  .menu__link {
    font-size: 1.3125rem;
    text-transform: uppercase;
  }
}
/* ========================================== */

.header__top {
  background-color: rgb(73, 73, 73);
  color: aliceblue;
}
.top-header {
  padding: 0.625em 0;
}
.top-header__container {
  display: flex;
  align-items: center;
  gap: 1.25em;
  min-height: 3.125em;
}
.top-header__menu {
  flex: 1 1 auto;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3.75em;
  row-gap: 5px;
}
@media (max-width: 95em) {
  .menu__list {
    column-gap: calc(20px + (60 - 20) * (100vw - 320px) / (1520 - 320));
  }
}
.menu__link {
  font-size: 1rem;
  line-height: 1.25;
}
.top-header__user {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  line-height: 1.2;
}

/* ============================ */

.body-header {
  padding: 0.625em 0;
  background-color: #fff;
}
.body-header__container {
  display: flex;
  align-items: center;
  min-height: 4.375em;
}
.body-header__search {
  flex: 1 1 auto;
  padding-right: 1.25em;
  padding-left: 9.375em;
}
@media (max-width: 95em) {
  .body-header__search {
    padding-left: calc(20px + (150 - 20) * (100vw - 320px) / (1520 - 320));
  }
}
.search-header {
  background-color: rgba(7, 7, 7, 0.03);
  border-radius: 3px;
  position: relative;
  border: 1px solid palevioletred;
  max-width: 21.875em;
}
.search-header__button {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 8px;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.search-header__input {
  background-color: transparent;
  border-radius: 3px;
  height: 2.5625em;
  color: var(--main-colour);
  padding: 0 0.625em 0 2.5em;
  width: 100%;
}
.search-header__input::placeholder {
  color: grey;
}

/* ============================ */

.body-header__actions {
}
.actions-header {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
}
.actions-header__location {
  display: inline-flex;
  align-items: center;
  margin-right: 1.5em;
}
.actions-header__phones {
}
.phones-header {
}
.phones-header__items {
}
.phones-header__item {
  display: flex;
}
.phones-header__phone {
  font-size: 1.125em;
  white-space: nowrap;
}
.actions-header__cart {
}
.cart-header {
  display: flex;
  column-gap: 0.9375em;
}
.cart-header__icon {
  flex: 0 0 1em;
  font-size: 2.1875rem;
  position: relative;
  color: rgb(110, 110, 110);
}
.cart-header__icon span {
  background-color: orangered;
  color: wheat;
  font-size: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-header__body {
  font-size: 1rem;
  line-height: 1.5;
}
.cart-header__sum {
  font-weight: 500;
}
.cart-header__link {
  color: orangered;
}

/* ============================ */
.icon_user {
  color: red;
  font-size: 1.75rem;
  margin-right: 0.875em;
}
.icon_logo {
  font-size: 4rem;
  color: greenyellow;
  animation-duration: 4s;
  animation-name: pulselogo;
  animation-iteration-count: infinite;
}
.icon_search {
  color: grey;
  font-size: 1rem;
}
.icon_location {
  margin-right: 0.625em;
}

/* ================================== */
@keyframes pulselogo {
  from {
    transform: scale(50%);
  }
  50% {
    transform: scale(100%);
  }
  to {
    transform: scale(50%);
  }
}
